@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Source Code Pro;
}

.background {
  background: linear-gradient(
      to right,
      white,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0)
    ),
    url(https://bee-music.netlify.app/img/banner.jpg) no-repeat center
      center/cover;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

#logo {
  font-family: Titan One;
}

.infor:hover + img {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.infor {
  background-color: #141c3a !important;
}
